{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% load static %}
{% block body %}
       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>about</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>


<div class="about">
   <div class="container">
      <div class="row">
         <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <figure><img src="{% static 'images/pc_layout.jpg' %}"/></figure>
            </div>
         </dir>
          <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <h3>Who is MAchine Mart</h3>
               <p>Our story began in  2010. And our  Shop is located in Thrissur, Kerala ,South India and are distributing and supplying Domestic and Industrial machines , its spare parts and accessories to all major cities across kerala.</p>
               <p>We are associated with leading sewing machine /accessories manufacturers across the nation and are offered with best prices, continuous product supply and well defined logistics management. And Holds the position of No:1 Authorised Agent for BRUCE Industrial machines and among top 5 Agent of JACK Sewing Machines in India who were doing sales, its services with full back up for entire Sewing machine Industry- all over South India. Another area we dealt with is Home sewing and commercial Embroidery of BROTHER machines and an exclusive category of Heavy Duty Sewing machine brand called FUTON which consists of Leather, Upholstery , Tape Edging , Multi Head Embroidery machines etc..</p>
            </div>
         </dir> 
      </div>
   </div>
</div>

<!-- CHOOSE  -->
      <div class="whyschose">
         <div class="container">

            <div class="row">
               <div class="col-md-7 offset-md-3">
                  <div class="title">
                     <h2>Why <strong class="black">choose us</strong></h2>
                     <span>Fastest repair service with best price!</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="choose_bg">
         <div class="container">
            <div class="white_bg">
            <div class="row">
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'icon/1.png' %}"/></i>
                     <h3>Sewing machine service</h3>
                     <p>Service all Type of Sewing Machine</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'icon/2.png' %}"/></i>
                     <h3>Sewing Machine Replacement</h3>
                     <p>Replace Old Machine with New in Affordable Price </p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'icon/3.png' %}"/></i>
                     <h3>service at Your Door Step</h3>
                     <p>We Provide Services at Your Door Step</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'icon/4.png' %}"/></i>
                     <h3>Spare Parts</h3>
                     <p>We Provide All Spare Parts for Domestic and Industrial Machine</p>
                  </div>
               </dir>
               <div class="col-md-12">
                  <a class="read-more">Read More</a>
               </div>
            </div>
         </div>
       </div>
      </div>
<!-- end CHOOSE -->

      <!-- service --> 
      <div class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="title">
                     <h2>service <strong class="black">proces</strong></h2>
                     <span>Easy and effective way to get your device repaired.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="{% static 'icon/service1.png' %}"/></i>
                     <h3>Fast service</h3>
                     <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="{% static 'icon/service2.png' %}"/></i>
                     <h3>Secure payments</h3>
                     <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="{% static 'icon/service3.png' %}"/></i>
                     <h3>Expert team</h3>
                     <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="{% static 'icon/service4.png' %}"/></i>
                     <h3>Affordable services</h3>
                     <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="{% static 'icon/service5.png' %}"/></i>
                     <h3>90 Days warranty</h3>
                     <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="{% static 'icon/service6.png' %}"/></i>
                     <h3>Award winning</h3>
                     <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end service -->
{% endblock %}